<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;{{ gettext('BGTorrents.tk') }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('poster_gallery') }}"><i class="fa fa-film fa-fw" aria-hidden="true"></i>&nbsp;{{ gettext('Movies') }}</a></li>
            <li><a href="{{ url_for('tv_series') }}"><i class="fa fa-tv fa-fw" aria-hidden="true"></i>&nbsp;{{ gettext('TV Series') }}</a></li>
			<li><a href="{{ url_for('new_movies') }}"><i class="fa fa-film fa-fw" aria-hidden="true"></i>&nbsp;{{ gettext('New Movies') }}</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
			<li><a href="/edit_profile">Profile</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
			<li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
			<li><a href="/login">Login</a></li>
            {% else %}
			<li>
				<a href="?lang=bg"><img src="/images/bg.png" title="Bulgarian"></a>
			</li>
			<li>
				<a href="?lang=en"><img src="/images/en.png" title="English"></a>
			</li>
			<li>
			<form class="form-inline" action="{{ url_for('search') }}" method="post" name="search">
				<div class="form-group">
				
				<input class="form-control" id="search" name="search" size="20" type="text" placeholder="{{ gettext('Search') }}" value="{{ query }}">
				</div>			
			</form>
			</li>

			{% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>