<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/movies.png">
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>BG Torrents</title>
		{% endif %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<script src="https://use.fontawesome.com/5b76e366bb.js"></script>
		<link rel="stylesheet" type="text/css" href="/styles.css" /> 
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<div class="navigation">
		{% include 'includes/_navbar.html' %}
		</div>
		<div class="container">
			{% include 'includes/_messages.html' %}
			{% block body%}{% endblock %}
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=11174428; 
		var sc_invisible=1; 
		var sc_security="3cda0070"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript><div class="statcounter"><a title="shopify visitor
		statistics" href="http://statcounter.com/shopify/"
		target="_blank"><img class="statcounter"
		src="//c.statcounter.com/11174428/0/3cda0070/1/"
		alt="shopify visitor statistics"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->
	</body>
</html>